<!DOCTYPE html>
<html lang="en">
<head>
	<style type="text/css">
		.main-form
		{
			margin-left: 15%;
			margin-right: 15%;
			background: #E9EBEE;
		}
		.form-block
		{
			margin-left: 45%;
		}
		body
		{
			background: #E9EBEE;
		}
		label
		{
			margin-left: 5%;
		}
		button
		{
			margin-top:25px;
			width: 33%;
			margin-left: 33%;
			margin-right: 33%;
			height: 50px;
			background: transparent;
		}
	</style>
</head>
<body>
	  <div class="main-form">
  
    <p class="form-block"><b>Change Your Password</b></p>
     <hr>
    <form  action=" http://localhost:3000/users/forgotpassword/change" method="post">
      <label><b>Email Id :-</b></label></br>
      <div class="input-block">
        <input class="form-block" autocomplete="off" type="email" name="email" placeholder="email Id" autofocus required />
      </div>
      <label><b>security Question :- what was your birth place?</b></label></br></br>
	
      <div class="input-block">
        <input class="form-block" autocomplete="off" type="text" name="securityAnswer" placeholder="Security Answer" required/>
      </div>
      <label><b>registered mobile number :-</b></label></br>
      <div class="input-block">
        <input class="form-block" autocomplete="off" type="number" name="mobileNumber" placeholder="Phone Number" required/>
      </div>
      <label><b>New Password :-</b></label></br>
      <div class="input-block">
        <input class="form-block" autocomplete="off" type="password" name="newPassword" placeholder="New Password" required/>
      </div>
      <label><b>Retype New Password :-</b></label></br>
      <div class="input-block">
        <input class="form-block" autocomplete="off" type="password" name="retypeNewPassword" placeholder="Retype New Password" required/>
      </div>      <br>
      <button type="submit" name="submit">Change Password</button>
      
    </form>
    </a></p>
  </div>
</body>
</html>