<!DOCTYPE html>
<html lang="en">
<head>
  <style type="text/css">
    .box
    {
      padding: 1%;
      margin-left:20%;
      margin-right: 20%;
      margin-top: 0;
    }

    .input-block
    {
      margin: 1%;
    }

    form div input
    {
      width: 100%;
      margin: 0 !important;
      padding: 2%;
    }

    button
    {
      width: 30%;
      margin-left: 35%;
      margin-right: 35%;
      padding: 2%;
      background-color: transparent;
      border-radius: 12px;
      border: 2px solid gray;
    }
    p
    {
      text-align : center;
    }
    .signupButton
    {
      text-decoration: none;
    }
  </style>
</head>
<body>
  <main>
  <div class="box">
    <br>
    <p class="header"><b>Delete a User</b></p>
    <br> <hr>
    <form class="login-form" action="http://localhost:3000/v1/users/deleteUser" method="post">
      <label><b>User Id :-</b></label></br>
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="text" name="userId" placeholder="User ID" autofocus required/> <br> <br>
      <button type="submit" name="submit">Delete</button><br> 
    </form>
     </div>
  </main>
</body>
</html>